@use "@material/data-table/data-table";
@use "@material/dialog";

@include data-table.core-styles;
@include data-table.theme-baseline;
@include dialog.core-styles;

#children-list {
    width: 100%;
}

.self-middle {
    align-self: center;
    text-align: right;
}

#form-register {
    &.mdc-dialog__content {
        height: auto;
    }
}
