@use "@material/icon-button";
@use "@material/data-table/data-table";
@use "@material/checkbox";
@use "@material/form-field";

@include checkbox.core-styles;
@include form-field.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;

.mdc-data-table {
    width: 100%;

    .mdc-data-table__row {
        cursor: pointer;
    }
}

.my-custom-card {
    .mdc-card__content {
        padding: 0;
    };
}
